<div class="row top-row">
    <div class="col-3">
      <select [(ngModel)]="phraseKey" class="form-control">
        <option value="notset">find all</option>
        <option *ngFor="let col of cols" [value]="col.key">
          {{ col.text }}
        </option>
      </select>
    </div>
    <div class="col-9">
      <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </span>
    </div>
    <input
    type="text"
    class="form-control" 
    placeholder="filter"
    [(ngModel)]="phraseString">
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ cols[0].text }}</th>
            <th>{{ cols[1].text }}</th>
            <th>{{ cols[2].text }}</th>
            <th>{{ cols[3].text }}</th>
            <th>{{ cols[4].text }}</th>
            <th>{{ cols[5].text }}</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of list | objectArray:phraseString:phraseKey">
            <td *ngFor="let col of cols">
                <app-data-cell
                    [cellValue]="row[col.key]"
                    [col]="col">
                </app-data-cell>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-info"
                        (click)="onUpdate('updating')">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                        (click)="onDelete('deleting')">
                        <i [class]="deleteIconClass"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>