<h2>Statictics of Fuelings</h2>
<div class="row">
  <div class="col-6">
    <div class="home-box">
      <h3>Fuelings by Vehicle</h3>
      <google-chart *ngIf="vehicleChart" [data]="vehicleChart">
      </google-chart>
    </div>
  </div>
  <div class="col-6">
    <div class="home-box">
      <h3>Fuelings by Driver</h3>
      <google-chart *ngIf="driverChart" [data]="driverChart">
      </google-chart>
    </div>
  </div>
  <div class="col-12">
    <div class="home-box">
      <h3>Fuelings by Day</h3>
      <google-chart *ngIf="dayChart" [data]="dayChart">
      </google-chart>
    </div>
  </div>
</div>